/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.home .text-tittle h1 {
	    font-size: 46px;
	}
	.home .text-tittle p {
	    font-size: 16px;
	}
	.screen-list {
	    width: 200%;
	    margin-left: -420px
	}
	.plan-card {
	    margin-left: 160px;
	}
	.menu-1, .menu-2, .menu-3 {
	    margin: 0;
	    padding: 0;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.main-nav {
		height: 60px;
	}
	.barnav {
		display: none;
	}
	.logo {
		display: none;
	}
	.home .text-tittle {
	    text-align: center;
	    padding: 0;
	}
	.features {
		padding: 20px 0;
	}
	.feature-1 {
		padding: 20px 0;
	}
	.col-md-offset-7 {
	    margin-left: 50%;
	}
	.btn-more {
		padding: 10px;
	}
	.map-feature .map-text img {
	    padding: 10px;
	}
	.screen-list {
	    width: 100%;
	    margin-left: -16px;
	}
	.main-screen {
		margin: 0 127px;
	}
	#customers .carousel-control.left {
	    left: 0;
	}
	#customers .carousel-control.right {
	    right: 0;
	}
	.buy {
		padding: 20px 0;
	}
	.download {
	    padding: 20px 0;
	}
	.plan-card {
	    margin-left: 0;
	}
	.plan-1, .plan-2{
		float: left;
		margin: 40px 0;
	}
	.plan-2 {
		height: 565px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.home .text-tittle h1 {
	    font-size: 44px;
	}
	.home .text-tittle p {
	    font-size: 14px;
	}
	.home .text-tittle a {
	    font-size: 14px;
	    padding: 12px 20px;   
	}
	.feature-1 {
		padding: 20px 0;
		text-align: center;
	}
	.col-md-offset-7 {
		text-align: center;
	    margin-left: 0;
	}
	.iphone-feature {
		position: relative;
	    padding: 0;
	    height: 1000px;
	}
	.iphone-feature .iphone-showcase {
	    position: absolute;
	    bottom: 0;
	    right: 0;
	}
	.device img {
		width: 100%;
	}
	.map-globe {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}
	.map-text {
		text-align: center;
	}
	.map img {
		width: 100%;
	}
	.iphone-screen {
	    padding: 50px 0px;
	    position: relative;
	    background-color: #f4f4f5;
	}
	.screen-list {
	    width: 100%;
	    margin: 0 19%;
	}
	.main-screen {
	    margin: 0;
	    margin-left: -35px;
	}
	.screen-list ul {
		padding: 0;
	}
	.plan-text {
		text-align: center;
	}
	#plan .toggle-container {
	    margin-bottom: 20px;
	}
	#plan .toggle-container .switch-toggles {
		margin: 0 auto;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.home {
		padding: 50px 0;
	}
	.menu-button {
		text-indent: 0em;
	}
	.menu-wrap {
		width: 260px
	}
	.menu-wrap a img {
	    margin: 10px 0;
	}
	.social-ikon {
	    margin: 20px 0;
	}
	.social-ikon a li {
	    padding: 0 7px;
	}
	.home .text-tittle img {
		width: 100%;
	}
	.home .text-tittle img {
	    margin: 40px 0;
	}
	.iphone-feature .btns-container {
	    margin-top: 32px;
	}
	.iphone-feature .btns-container a {
	    margin: 0;
	}
	.btn-blue {
		width: 100%;
		display: block;
	}
	.btn-more {
		width: 100%;
		display: block;
	}
	.iphone-feature {
	    height: 700px;
	}
	.map-feature {
	    padding: 60px 0 180px;
	}
	.screen-list {
	    width: 100%;
	    margin: 0;
	}
	.screen-list ul li img {
	    width: 100%;
	}
	.main-screen {
		width: 100%;
		margin: 0 auto;
	}
}
@media only screen and (min-width : 768px) and (max-width: 991px) {
	
}


@media only screen and (min-width : 992px) and (max-width: 1199px) {
	
}
