@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/* line 11, ../sass/screen.sass */
body {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/screen.sass */
.container {
  width: 960px;
  margin: 0 auto;
  width: 100%;
}

/* line 18, ../sass/screen.sass */
header {
  background: url(../images/banner_background.jpg);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  height: auto;
}

/* line 22, ../sass/screen.sass */
#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 16px;
  z-index: 10;
  background-color: transparent;
}

/* line 30, ../sass/screen.sass */
header ul li {
  display: inline;
  margin-left: 30px;
}
/* line 33, ../sass/screen.sass */
header ul li a {
  font-size: 16px;
  color: black;
}
/* line 36, ../sass/screen.sass */
header ul li a:hover {
  text-decoration: none;
  color: gray;
}

/* line 39, ../sass/screen.sass */
.logo {
  margin: 10px 0;
}

/* line 41, ../sass/screen.sass */
.navigation {
  padding: 10px 0;
}

/* line 43, ../sass/screen.sass */
.navbar ul {
  margin: 0;
}

/* line 45, ../sass/screen.sass */
.blue-btn {
  background-color: #267df4;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 9px 16px;
  text-decoration: none;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
}

/* line 54, ../sass/screen.sass */
.home {
  background: url(../images/banner_background.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  height: 950px;
  padding: 150px 0;
  position: relative;
}
/* line 61, ../sass/screen.sass */
.home .text-tittle {
  text-align: center;
  padding: 0 200px;
}
/* line 64, ../sass/screen.sass */
.home .text-tittle h1 {
  font-size: 62px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
/* line 68, ../sass/screen.sass */
.home .text-tittle p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 40px 0;
  color: gray;
}
/* line 74, ../sass/screen.sass */
.home .text-tittle a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 40px;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 30px;
}
/* line 82, ../sass/screen.sass */
.home .text-tittle img {
  margin: 90px 0;
}

/* line 84, ../sass/screen.sass */
.features {
  background: url(../images/Divdier.jpg) no-repeat center center;
  background-size: cover;
  padding: 118px 0;
}
/* line 88, ../sass/screen.sass */
.features .feature-1 h3 {
  font-weight: 300;
  font-size: 26px;
  padding: 20px 0;
}
/* line 92, ../sass/screen.sass */
.features .feature-1 p {
  font-weight: 400;
  font-size: 18px;
  color: gray;
}

/* line 96, ../sass/screen.sass */
.iphone-feature {
  position: relative;
  padding: 240px 0 330px;
}

/* line 99, ../sass/screen.sass */
.col-md-offset-7 {
  margin-left: 58.33333%;
}
/* line 101, ../sass/screen.sass */
.col-md-offset-7 h2 {
  font-family: Varela Round, sans-serif;
  font-weight: 400;
  font-size: 42px;
}
/* line 105, ../sass/screen.sass */
.col-md-offset-7 p {
  color: gray;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* line 109, ../sass/screen.sass */
.iphone-feature .btns-container {
  margin-top: 62px;
}

/* line 111, ../sass/screen.sass */
.iphone-feature .btns-container a {
  margin-right: 20px;
  margin-bottom: 18px;
}

/* line 114, ../sass/screen.sass */
.iphone-feature .btns-container a i {
  margin-left: 50px;
  font-size: 14px;
}

/* line 117, ../sass/screen.sass */
.iphone-feature .btns-container a:last-child {
  margin-right: 0;
}

/* line 119, ../sass/screen.sass */
.iphone-feature .iphone-showcase {
  position: absolute;
  bottom: 90px;
  right: 50%;
}

/* line 123, ../sass/screen.sass */
.btn-blue {
  background-color: #267df4;
  color: white;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  padding: 9px 16px;
  text-decoration: none;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 40px;
}

/* line 133, ../sass/screen.sass */
.btn-blue:hover {
  text-decoration: none;
  color: white;
}

/* line 136, ../sass/screen.sass */
.btn-more {
  color: black;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  padding: 9px 16px;
  border: 1px solid gray;
  border-radius: 30px;
  opacity: 0.7;
}

/* line 145, ../sass/screen.sass */
.btn-more:hover {
  text-decoration: none;
  color: black;
}

/* line 148, ../sass/screen.sass */
.map-feature {
  padding: 60px 0 330px;
  overflow: hidden;
  position: relative;
}
/* line 152, ../sass/screen.sass */
.map-feature .map-text h2 {
  font-family: Varela Round, sans-serif;
  font-weight: 400;
  font-size: 42px;
}
/* line 156, ../sass/screen.sass */
.map-feature .map-text p {
  color: gray;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
/* line 160, ../sass/screen.sass */
.map-feature .map-text span {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 12px;
}
/* line 164, ../sass/screen.sass */
.map-feature .map-text img {
  padding: 20px;
}

/* line 166, ../sass/screen.sass */
.map-globe {
  position: absolute;
  bottom: 180px;
  left: 50%;
}

/* line 170, ../sass/screen.sass */
.tittle-beautiful h1 {
  font-family: Varela Round, sans-serif;
  font-size: 42px;
}

/* line 173, ../sass/screen.sass */
.tittle-beautiful hr {
  width: 5%;
  height: 2px;
  background-color: #267df4;
}

/* line 177, ../sass/screen.sass */
.tittle-beautiful p {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: gray;
}

/* line 182, ../sass/screen.sass */
.iphone-screen {
  padding: 140px 0px;
  position: relative;
  background-color: #f4f4f5;
  overflow: hidden;
}

/* line 187, ../sass/screen.sass */
.screen-list {
  width: 160%;
  margin-left: -330px;
}
/* line 190, ../sass/screen.sass */
.screen-list ul li {
  list-style: none;
  display: inline;
}

/* line 193, ../sass/screen.sass */
.buy {
  background-color: #f4f4f5;
}
/* line 196, ../sass/screen.sass */
.buy .ready-buy p {
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: gray;
}
/* line 201, ../sass/screen.sass */
.buy .ready-buy h1 {
  font-family: Varela Round, sans-serif;
  font-size: 42px;
  margin: 30px 0;
}
/* line 205, ../sass/screen.sass */
.buy .ready-to-buy {
  position: relative;
  width: 502px;
  max-width: 100%;
  margin: 0 auto;
}
/* line 210, ../sass/screen.sass */
.buy .form-buy input {
  width: 502px;
  height: 50px;
  max-width: 100%;
  border: 1px solid rgba(38, 39, 45, 0.2);
  padding: 16px 26px;
  font-size: 16px;
  background-color: transparent;
  padding-right: 148px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  outline: none;
}
/* line 223, ../sass/screen.sass */
.buy .form-buy button {
  position: absolute;
  right: 3px;
  top: 3px;
  border: 1px solid rgba(38, 39, 45, 0.2);
  padding: 16px 26px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: white;
  background-color: #6fc754;
  padding: 9px 16px;
  text-decoration: none;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 40px;
  cursor: pointer;
}
/* line 238, ../sass/screen.sass */
.buy .form-buy button i {
  margin-left: 10px;
}

/* line 240, ../sass/screen.sass */
.download {
  padding: 60px 0;
}
/* line 242, ../sass/screen.sass */
.download .btn-dark {
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  padding: 16px 16px;
  text-decoration: none;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 30px;
}
/* line 253, ../sass/screen.sass */
.download .btn-dark i {
  position: relative;
  top: 2px;
  margin: 0 10px;
}
/* line 257, ../sass/screen.sass */
.download .btn-dark span {
  position: relative;
  top: 8px;
  font-size: 14px;
  display: inline-block;
  text-align: left;
}

/* line 263, ../sass/screen.sass */
.customers {
  padding: 120px 0;
}
